<plugin name='webfs' version='0.1' grailsVersion='2.0.3 &gt; *'>
  <title>webfs</title>
  <type>WebfsGrailsPlugin</type>
  <resources>
    <resource>ApplicationResources</resource>
    <resource>BootStrap</resource>
    <resource>spring.resources</resource>
    <resource>ca.donlaidlaw.mongo.webfs.controller.AbstractRESTController</resource>
    <resource>ca.donlaidlaw.mongo.webfs.controller.FilesystemController</resource>
  </resources>
  <repositories>
    <repository name='grailsCentral' url='http://plugins.grails.org' />
    <repository name='http://repo.grails.org/grails/plugins' url='http://repo.grails.org/grails/plugins/' />
    <repository name='http://repo.grails.org/grails/core' url='http://repo.grails.org/grails/core/' />
    <repository name='grailsCore' url='http://svn.codehaus.org/grails/trunk/grails-plugins' />
    <repository name='mavenCentral' url='http://repo1.maven.org/maven2/' />
    <repository name='ebrRelease' url='http://repository.springsource.com/maven/bundles/release/' />
    <repository name='ebrExternal' url='http://repository.springsource.com/maven/bundles/external/' />
    <repository name='http://snapshots.repository.codehaus.org' url='http://snapshots.repository.codehaus.org/' />
    <repository name='http://repository.codehaus.org' url='http://repository.codehaus.org/' />
    <repository name='http://download.java.net/maven/2/' url='http://download.java.net/maven/2/' />
    <repository name='http://repository.jboss.com/maven2/' url='http://repository.jboss.com/maven2/' />
    <repository name='ebrRelease' url='http://repository.springsource.com/maven/bundles/release/' />
    <repository name='ebrExternal' url='http://repository.springsource.com/maven/bundles/external/' />
  </repositories>
  <dependencies>
    <test>
      <dependency group='com.jayway.restassured' name='rest-assured' version='1.6.1' />
    </test>
    <compile>
      <dependency group='org.codehaus.groovy.modules.http-builder' name='http-builder' version='0.5.2' />
    </compile>
    <runtime>
      <dependency group='postgresql' name='postgresql' version='9.0-801.jdbc4' />
      <dependency group='com.google.guava' name='guava' version='12.0' />
    </runtime>
  </dependencies>
  <plugins>
    <compile>
      <plugin group='org.grails.plugins' name='spring-security-core' version='1.2.7.3' />
      <plugin group='org.grails.plugins' name='ldap-server' version='0.1.8' />
      <plugin group='org.grails.plugins' name='functional-test' version='1.2.7' />
      <plugin group='org.grails.plugins' name='spring-security-cas' version='1.0.2' />
    </compile>
    <runtime>
      <plugin group='org.grails.plugins' name='mongodb' version='1.0.0.GA' />
    </runtime>
    <build>
      <plugin group='org.grails.plugins' name='tomcat' version='2.0.3' />
    </build>
  </plugins>
  <runtimePluginRequirements />
  <behavior />
</plugin>